form {
    display: flex;
    flex-direction: column;
    /* max-width: 400px; */
    width: 100%;
}

form > label {
    margin: 5px;
    margin-bottom: 0px;
    font-size: 15px;
}

form > input {
    padding: 8px;
    margin: 5px;
    margin-top: 0px;
    margin-bottom: 15px;
    border-radius: 5px;
    border-width: 0.05mm;
    border-color: lightgray;
    background-color: rgb(241, 241, 241);
    outline: none;
}

form > textarea {
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
    border-width: 0.05mm;
    border-color: lightgray;
    background-color: rgb(241, 241, 241);
    outline: none;
    resize: none;
    height: 100px;
}

form > button {
    color: white;
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 20px 0px 0px 0px;
    font-size: 24px;
    outline: none;
}

form > button:hover {
    background-color: gainsboro;
    color: black;
    cursor: pointer;
}

form > button:active {
    background-color: black;
    color: white;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    font-size: 20px;
    /* background-color: rgb(48, 48, 48); */
    background-color: black;
    color: white;
}

.signin {
    width: 400px;
    margin: 60px;
    background-color: rgba(169, 169, 169, 0.116);
    max-height: 500px;
    border-radius: 10px;
    padding: 20px;
}

.signup {
    width: 400px;
    margin: 60px;
    background-color: rgba(169, 169, 169, 0.116);
    max-height: 500px;
    border-radius: 10px;
    padding: 20px;
}

@media screen and (max-width: 700px) {
    .container {
        flex-direction: column;
        font-size: small;
        overflow: scroll;
    }
    .signin {
        width: 250px;
    }
    .signup {
        width: 250px;
    }
    form > button {
        font-size: 16px;
    }
  }

/* Spinner/loader code: */
.lds-hourglass {
    /* display: inline-block;
    position: relative; */
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 12px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }
  