.jobContainerParent {
    background-color: rgb(48, 48, 48);
    min-height: 100vh;
    max-height: auto;
    padding-top: 20px;
}

.jobRow{
    display: flex;
    /* background-color: rgba(169, 169, 169, 0.356); */
    padding: 20px;
    margin: 20px;
    margin-top: 0px;
    color: white;
    border-radius: 20px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(98,98,98,0.6496519721577726) 50%, rgba(1,1,1,1) 100%);
}

.jobCol {
    display: flex;
    flex-direction: column;
    margin: 0px 15px;
    /* width: 105px; */
    width: 100%;
}

.jobEditButton, .jobViewButton, .jobDeleteButton {
    border: none;
    outline: none;
    border-radius: 20px;
    height: 40px;
    background-color: #000;
    color: white;
    cursor: pointer;
}

.jobDeleteButton:hover {
    background-color: red;
    color: white;
}

.jobEditButton:hover, .jobViewButton:hover{
    background-color: white;
    color: black;
}

.addJobButton {
    background-color:rgba(238, 238, 238, 0.733);
    color: #000;
    height: 60px;
    width: 60px;
    border-radius: 10%;
    position: fixed;
    bottom: 40px;
    right: 40px;
    cursor: pointer;
    font-size: 30px;
    outline: none;
    border: none;
}

.addJobButton:hover {
    background-color: #eee;
}

.duesUncleared {
    background-color: rgb(204, 0, 0);
    color: white;
    font: large;
    padding: 4px;
    border-radius: 5px;

}

.centerLoading {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1200px) {
    .jobRow {
        flex-direction: column;
    }
    .jobContainerParent {
        height: 100%;
    }
    .jobEditButton, .jobViewButton, .jobDeleteButton {
        margin: 4px 0px;
    }
    .jobCol {
        margin: 5px 15px;
    }
  }