.jobContainerParent {
    background-color: black;
    min-height: 100vh;
    max-height: auto;
    padding-top: 20px;
}

.jobRow{
    display: flex;
    padding: 20px;
    margin: 20px;
    margin-top: 0px;
    color: white;
    border-radius: 10px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(98,98,98,0.6496519721577726) 50%, rgba(1,1,1,1) 100%);
    min-height: 170px;
    max-height: auto;
}

.jobCol {
    display: flex;
    flex-direction: column;
    margin: 0px 15px;
    width: 100%;
}

.jobEditButton, .jobViewButton, .jobDeleteButton {
    border: none;
    outline: none;
    border-radius: 10px;
    height: 40px;
    background-color: #000;
    color: white;
    cursor: pointer;
}

.jobDeleteButton:hover {
    background-color: red;
    color: white;
}

.jobEditButton:hover, .jobViewButton:hover{
    background-color: white;
    color: black;
}

.addJobButton {
    background-color:rgba(238, 238, 238, 0.733);
    color: #000;
    height: 60px;
    width: 60px;
    border-radius: 10%;
    position: fixed;
    bottom: 40px;
    right: 40px;
    cursor: pointer;
    font-size: 30px;
    outline: none;
    border: none;
}

.addJobButton:hover {
    background-color: #eee;
}

.duesUncleared {
    background-color: rgb(204, 0, 0);
    color: white;
    font: large;
    padding: 4px;
    border-radius: 5px;

}

.centerLoading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.paginationContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.paginationBottomContainer {
    display: flex;
    align-items: flex-start;
}

.searchContainer {
    margin: 20px;
}

.searchInput {
    padding: 8px;
    outline: none;
    background-color: black;
    color: white;
    border: none;
    border-bottom: 1px solid grey;
    width: 250px;
}

@media screen and (max-width: 1200px) {
    .jobRow {
        flex-direction: column;
    }
    .jobContainerParent {
        height: 100%;
    }
    .jobEditButton, .jobViewButton, .jobDeleteButton {
        margin: 4px 0px;
    }
    .jobCol {
        margin: 5px 15px;
    }
    .paginationContainer {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
  }


  /* Spinner/loader code: */
.lds-hourglass {
    display: inline-block;
    position: absolute;
    width: 30px;
    height: 30px;
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 12px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }

  .centerHourglass {
      min-height: 100vh;
      max-height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
  }