.createJobForm {
    width: 580px;
    margin: 20px;
    background-color: rgba(169, 169, 169, 0.116);
    border-radius: 10px;
    padding: 20px;
}

.jobContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    font-size: small;
    background-color: rgb(48, 48, 48);
    color: white;
}

@media screen and (max-width: 1200px) {
    .jobContainer {
        flex-direction: column;
        font-size: small;
        overflow: scroll;
    }
    .createJobForm {
        width: 80%;
    }
    form > button {
        font-size: 16px;
    }
  }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}